$color:red;

.login-container{
    width:100%;
    min-height:100%;
    min-width: 1200px;
    box-shadow: 2px 2px 20px #eeeeee;
    background-image: url('/banner2.jpg');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    align-items: center;
    // padding: 20px;
    // position: absolute;
    // top: 30%;
    // left: 50%;
    // margin-left: -200px;
 
    .login-form-container {
        max-width: 300px;
        margin: 0 auto;
        padding-top: 250px;
    }
    .login-form{
        background: rgba(0, 0, 0, 0.1);
        padding: 40px 30px 5px 30px;
        border-radius: 4px;
      
    }
    .login-form-forgot {
        float: right;
    }
    .login-form-button {
        width: 100%;
    }
}